# Node
PORT=3000
NODE_ENV=development

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# CORS
FRONTEND_URL=http://localhost:3001

# File Storage
CHUNK_SIZE=5242880
PER_USER_QUOTA=107374182400

# Pagination
RETRIEVAL_LIMIT=10